@using WebApplication7.Shared
@page "/pcs"
@inject HttpClient Http

<h1>Player Characters</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (pcs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Level</th>
                <th>Name (Player)</th>
                <th>Race (Class)</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pc in pcs)
            {
                <tr>
                    <td>@pc.Level</td>
                    <td>@pc.Name (@pc.Player)</td>
                    <td>@pc.Race (@pc.Class)</td>
                    <td>@pc.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    PC[] pcs;

    protected override async Task OnInitAsync()
    {
        pcs = await Http.GetJsonAsync<PC[]>("/api/SampleData/PCs");
    }
}
