@using WebApplication7.Shared
@page "/pcs"
@inject HttpClient Http

<h1>Player Characters</h1>

<p>This component demonstrates fetching data from the server.</p>

<BlazorButton Color="Color.Primary" OnClick="@onclick">Launch demo modal</BlazorButton>
<Modal IsOpen="@IsOpen">
    <ModalHeader OnClick="@onclick">Modal title</ModalHeader>
    <ModalBody><p>Modal body text goes here.</p></ModalBody>
    <ModalFooter>
        <BlazorButton Color="Color.Secondary" OnClick="@onclick">Close</BlazorButton>
        <BlazorButton Color="Color.Primary" OnClick="@onclick">Save Changes</BlazorButton>
    </ModalFooter>
</Modal>
@functions {
bool IsOpen { get; set; }
void onclick(UIMouseEventArgs e)
{
    IsOpen = !IsOpen;
    StateHasChanged();
}
}

@if (pcs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Level</th>
                <th>Name (Player)</th>
                <th>Race (Class)</th>
                <th>Status</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var pc in pcs)
            {
                <tr>
                    <td>@pc.Level</td>
                    <td>@pc.Name (@pc.Player)</td>
                    <td>@pc.Race (@pc.Class)</td>
                    <td>@pc.Status</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    PC[] pcs;

    protected override async Task OnInitAsync()
    {
        pcs = await Http.GetJsonAsync<PC[]>("/api/SampleData/PCs");
    }
}